extends ../layout

block content
    h1.text-center Liste de nos produits
    table.table
        thead.text-center
            tr
                th(scope='col') #
                |       
                th(scope='col') Reference
                |  
                th(scope='col') Titre
                |
                th(scope='col') Note
                |
                th(scope='col') Image
                |
                th(scope='col') Supprimer
        tbody.text-center
            each produit in produits
                tr
                    th(style='vertical-align: middle;' scope='row')
                        a(href=`/produits/details${produit.id}`)=`${produit.id}`
                    |       
                    td(style='vertical-align: middle;')
                        a(href=`/produits/details${produit.id}`)=`${produit.reference}`
                    |     
                    td(style='vertical-align: middle;')
                        a(href=`/produits/details${produit.id}`)=`${produit.titre}`
                    |     
                    td(style='vertical-align: middle;')=`${produit.notation}`
                    |         
                    td(style='vertical-align: middle;')
                        img(src=`${produit.image}` alt=`${produit.titre}` height="100px")
                    |  
                    td(style='vertical-align: middle;')
                        a.btn.btn-danger(href=`/produits/supprimer${produit.id}`) Supprimer produit

    .row
        .col-12.text-center
            a(href="/produits/creer").btn.btn-success Créer un produit