extends ../layout

block content
    h3=produit.titre
    img(src=`${produit.image}`)
    p=produit.note
    p=produit.reference
    p=produit.quantité
    p=produit.prix
    p=produit.tva
    p=produit.enVente
    p=produit.descriptif