extends ../layout

block content
    table.table.table-bordered
        thead
            tr
                th(scope='col') ID
                th(scope='col') Reférence
                th(scope='col') Titre
                th(scope='col') Note
                th(scope='col') Image
       
            tbody
            each produit in produits
                tr
                    td=produit.id 
                    td=produit.reference
                    td=produit.titre
                    td=produit.note
                    td=produit.image
