extends ../layout

block content
    main(role='main')
        .row
            .col
                a.btn.btn-primary(href="produit/ajouter" role="button") Ajouter
        table.table.table-striped
            thead
                tr
                    th(scope='col') Id
                    th(scope='col') Reference
                    th(scope='col') Titre
                    th(scope='col') Note
                    th(scope='col') Image
                    th(scope='col') Suppr
            tbody
                each product in products
                    tr
                        th(scope='row')
                            a(href=`produit/${product.id}`)
                                =product.id
                        td
                            a(href=`produit/${product.id}`)
                                =product.reference
                        td
                            a(href=`produit/${product.id}`)
                                =product.title
                        td
                            =product.score
                        td
                            img.img-thumbnail.rounded.mx-auto.d-block(src=`${product.image}`, alt='image' width="200px")
                        td
                            a.btn.btn-outline-dark(href=`produit/supprimer/${product.id}` role="button") Supprimer