extends ../layout

block content
    h1="Page de catalogue"
    .container
        img(src="https://media.giphy.com/media/JQtjrjz75ttYY/giphy.gif" alt="Edwar Norton")
        
    br
    br
    
    h5 id
    p=produit.id
    h5 reference
    p=produit.reference
    h5 titre
    p=produit.titre
    h5 note
    p=produit.note
    br
    img(src=produit.image)
