extends ../layout

block content
    h1="Page de catalogue"
    .container
        img(src="https://media.giphy.com/media/e3C4pNKkr9rji/giphy.gif" alt="Fry")
        

    table.table
        thead
            tr
            th(scope='col') id
            th(scope='col') ref
            th(scope='col') titre
            th(scope='col') note
            th(scope='col') image

        tbody
           each element in articles
            tr
                th=element.id
                td=element.reference
                td=element.titre
                td=element.note
                td=element.image 
            