extends ../layout

block content
    table.table
        thead
            tr
                th(scope='col') Id Produit
                th(scope='col') Ref Produit
                th(scope='col') Titre Produit
                th(scope='col') Note du Produit
                th(scope='col') Image
        tbody
            each result in results
                tr
                    td
                        a(href=`/products/voir/${result.Id}`)=result.Id
                    td
                        a(href=`/products/voir/${result.Id}`)=result.Reference
                    td
                        a(href=`/products/voir/${result.Id}`)=result.Titre
                    td=result.Note
                    td=result.Image
                    td
                        a(href=`/products/suppress/${result.id}`) Supprimer l'article
    a.btn.btn-primary(href="/products/creation") Entrer un nouveau produit
    


            

