extends ../layout

block content
    h1=result.Id
    p=result.Titre
    p=result.Reference
    p=result.Descriptif

    .card(style='width:400px')
        img.card-img-top(src=`${result.Image}`, alt='Card image')
        .card-body
            h4.card-title=result.Titre
            p.card-text=result.Reference
                p=result.Descriptif
            a.btn.btn-primary(href='#') 
    